svg {
  shape-rendering: geometricPrecision;
}

.line {
  stroke: #c1ff72;
  stroke-width: 10;
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.7s ease-in-out;
}

/* animate rotation separately on the group */
.top-group,
.bottom-group {
  transform-origin: center;
  transition: transform 0.7s ease-in-out;
}

.hamburger.open .top-group {
  transform: rotate(-45deg);
}

.hamburger.open .bottom-group {
  transform: rotate(45deg);
}

.hamburger.open .middle {
  stroke-dashoffset: -80;
}

/* Reverse animations */
.hamburger.close .top-group {
  transform: rotate(0deg);
}

.hamburger.close .bottom-group {
  transform: rotate(0deg);
}

.hamburger.close .middle {
  stroke-dashoffset: 0;
}
