.nav-main-container {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9;
  position: relative;
}

.quick-search-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.quick-search-container input {
  border-radius: 1rem;
  height: 30px;
  border: none;
  padding: 0 0 0 5px;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
}

.logo-links {
  width: 550px;
  height: 85%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
}

.logo-links img {
  width: 200px;
  height: auto;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-container {
  width: fit-content;
  height: 40px;
  color: white;
}

.link-container:hover {
  color: #c1ff72;
}

.links h1 {
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
}

.active {
  width: 100%;
  height: 2px;
  background-color: #c1ff72;
}

.socials {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

.socials img {
  width: 40px;
  filter: invert(1);
  margin: 0 auto;
  height: auto;
  cursor: pointer;
  transition: all 0.4s;
}
.socials img:hover {
  filter: invert(1) sepia(1) saturate(1000%) hue-rotate(45deg);
}

.nav-hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 2;
  border-radius: 0.5rem;
  padding: 3px;
}

@media only screen and (max-width: 800px) {
  .nav-main-container {
    flex-direction: column;
    align-items: center;
    height: 250px;
  }

  .quick-search-container {
    width: 100%;
    gap: 10px;
  }

  .quick-search-container input {
    width: 70%;
    height: 40px;
    border-radius: 60px;
  }

  .logo-ham-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-phone-dropdown-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  .dropdown-links-container {
    width: 100%;
    height: 80%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropdown-link-name {
    font-size: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    color: white;
  }

  .dropdown-link-name:hover {
    color: #c1ff72;
  }
}
