.db-direction-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 40px;
  border-radius: 0.5rem;
}

.db-direction-container h1 {
  font-size: 2rem;
}

.db-direction-container img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .db-direction-container h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .db-direction-container {
    padding: 10px;
  }
  .db-direction-container img {
    width: 40px;
    height: 40px;
  }
}
