.social-main-container {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 5px;
  border-top: 2px solid black;
}
.like-and-comment-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.like-and-share {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.like-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.like {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.like img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.share-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.share-container div {
  width: 100%;
  display: flex;
  gap: 15px;
}

.leave-comment {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.leave-comment textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.comment-container h1 {
  margin-bottom: 10px;
}
.comments {
  width: 100%;
  padding: 20px;
  border-radius: 0.5rem;
}
.commenter-name {
  text-decoration: underline;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .social-main-container {
    padding: 50px 0px;
    width: 100%;
  }
  .like-and-comment-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .like-and-share {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }
  .like-container {
    justify-content: center;
    margin-bottom: 30px;
  }
  .share-container {
    align-items: center;
  }
  .share-container div {
    justify-content: center;
  }

  .leave-comment {
    width: 100%;
    align-items: center;
  }
}
