.title-container {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title-container h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.line-blog {
  width: 100%;
  height: 4px;
  background-color: black;
}
.blog-info-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}
.blog-info-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-info-container p {
  margin-top: 5px;
}

.blog-column-container {
  width: 100%;
  display: grid;
  gap: 40px;
  cursor: pointer;
}

.blog-column-container.horizontal {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.blog-column-container.vertical {
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 600px) {
  .blog-column-container {
    justify-content: center;
  }
  .blog-column-container.vertical {
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  }
  .title-container {
    padding: 40px 0px;
  }
  .title-container h1 {
    font-size: 2rem;
  }
}
