.sb-article-main-container {
  width: 65%;
  min-height: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sb-article-container {
  line-height: 1.5;
  width: 90%;
}

.sb-article-container p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .sb-article-main-container {
    flex-direction: column;
    width: 100%;
  }
  .sb-article-container {
    width: 100%;
  }
  .sb-article-container h3 {
    margin-bottom: 50px;
  }
}
