* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Outfit";
  src: url("./Outfit-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair";
  src: url("./Playfair-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
}

.outfit-font {
  font-family: "Outfit", sans-serif;
}
.outfit-thin-font {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.playfair-font {
  font-family: "Playfair";
}
.playfair-thin-font {
  font-family: "Playfair";
  font-weight: 400;
}

.green-bg {
  background-color: #c1ff72;
}
.dark-silver-bg {
  background-color: #656565;
}

.white-bg {
  background-color: #ffffff;
}

.charcoal-bg {
  background-color: #2c2c2c;
}

.grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    #f5f5f5 81%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}
.dark-grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    rgb(215, 215, 215) 21%,
    #a5a5a5 87%,
    #878787 100%
  );
}
.white-gradient-bg {
  background: linear-gradient(
    to bottom,
    #ffffff 10%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}

.green-text {
  color: #c1ff72;
}

.white-text {
  color: #ffffff;
}

.silver-text {
  color: #a1a1a1;
}

.no-scroll {
  overflow: hidden;
}

.charcoal-text {
  color: #202020;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
