* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.display-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Outfit";
  src: url("./Outfit-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair";
  src: url("./Playfair-VariableFont_opsz,wdth,wght.woff2") format("woff2");
  font-weight: 1 999;
  font-stretch: 75% 125%;
  font-style: normal;
}
.outfit-font {
  font-family: "Outfit", sans-serif;
}
.outfit-thin-font {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.outfit-xthin-font {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}
.playfair-font {
  font-family: "Playfair";
  font-weight: 800;
}
.playfair-thin-font {
  font-family: "Playfair";
  font-weight: 400;
}

.green-bg {
  background-color: #c1ff72;
}
.dark-silver-bg {
  background-color: #656565;
}

.silver-bg {
  background-color: #d9d9d9;
}

.charcoal-bg {
  background-color: #181818;
}

.off-white-bg {
  background-color: #f5f5f5;
}

.grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    #f5f5f5 81%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}
.dark-grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    rgb(215, 215, 215) 21%,
    #a5a5a5 87%,
    #878787 100%
  );
}
.white-gradient-bg {
  background: linear-gradient(
    to bottom,
    #ffffff 10%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}

.green-text {
  color: #c1ff72;
}

.white-text {
  color: #ffffff;
}

.silver-text {
  color: #a1a1a1;
}
.d-silver-text {
  color: #909090;
}

.no-scroll {
  overflow: hidden;
}

.charcoal-text {
  color: #202020;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-even {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.padding-40 {
  padding: 40px;
}

.pos-relative {
  position: relative;
}

.neg-marg {
  margin-top: -1px;
}
